.logTile {
  border-bottom: 2px solid #eee;
  padding: 12px 0;
}

.logTile .lineItem {
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 1.3em;
  display: block;
}

.logTile .warn {
  color: #DE4141;
  background-color: #f1f1f1;
}